*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {    
  margin: 0;
  padding: 20px;
  font-family: 'Century Gothic',sans-serif;
  font-size: rem-calc(16);
  color: #ffffff;
}

.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: center;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}

.wrapper {
  margin: auto;
  max-width: rem-calc(1200);
}

main, header, section, footer {    
  display: block;
  margin: 0;
  padding: rem-calc(20);
  border: 1px solid #000000;
  color: #ffffff;
}

main {
  background: #ffffff;
}

.header {
  background: #ffffff;
}

.hero {
  background: #ffffff;
}

.flex-container {
  @media screen and (min-width: 640px){
      display: flex;
  }    
}

.content {
  flex: 1;
  background: #ffffff;
}

.sidebar {
  flex: 0 1 300px;
  border: 1px solid #000000;
  background: #ffffff;
}

.footer {
  border: 1px solid #000000;
  background: #ffffff;
}



